@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway');

h1 {
	padding: 5px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h2 {
  font-family: 'Merriweather', sans-serif;
}

.main {
  background: white;
  border-radius: 20px;
  padding: 2em;
  display: block;
  margin: auto;
  width: 40em;
  text-align: left;
  box-shadow: 5px 5px 5px #888888;
}

.ctrimage
{
  display: table;
  margin: auto;
}

#headshot {  
	border-radius: 10px;
	margin-top: 5em;
	width:345px;
  height:345px;
}
